[submodule "koreader-base"]
	path = koreader-base
	url = https://github.com/koreader/koreader-base.git
[submodule "koreader-misc"]
	path = koreader-misc
	url = https://github.com/koreader/koreader-misc.git
